.dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  z-index: 50;

  top: var(--position-top);
  left: var(--position-left);
  bottom: var(--position-bottom);
  right: var(--position-right);
}

.dropdown a {
  display: inline-block;
  background: var(--color-primary);
  margin: 0;
  width: 150px;
  height: 100%;
  line-height: 3.5rem;
}

.dropdown a:hover {
  background-color: var(--color-tertiary);
}
