
.dropdown {
  display: inline;
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  position: absolute;
  top:100px;
  left: 0;
  
}

.dropdown a {
  /* display: inline-block; */
  /* padding-right: 5rem; */
  width: 200px;
  margin: 0;
  /* display: flex; */
  border : 1px solid magenta;
}