.profile-button {
  font-size: 3rem;
  align-self: center;
  margin-left: 1rem;
  /* z-index: 30; */
}

.profile-button h3

.profile-button:hover,
.hover {
  color: var(--color-secondary);
}

.dropdown {
  position: absolute;
  top: 99px;
  right: 0;
  /* z-index: 30; */
}
