.profile-btn {
  align-self: center;
  margin-left: 1rem;
  padding: 0;
  align-self: stretch;
  fill: var(--color-tertiary);
}

.profile-btn:hover {
  background-color: var(--color-primary);
}

.profile-btn svg {
  width: 2.5rem;
  height: 2.5rem;
}

.profile-btn.active svg,
.profile-btn svg:hover {
  fill: var(--color-secondary);
}

.profile-btn h3 .profile-btn:hover,
.hover {
  color: var(--color-secondary);
}
