.profile-btn {
  align-self: center;
  margin-left: 1rem;
  border: 1px solid magenta;
  padding: 0;
  align-self: stretch;
}

.profile-btn:hover {
  background-color: var(--color-primary);
}

.profile-btn svg {
  width: 2.5rem;
}

.profile-btn.active svg, .profile-btn svg:hover {
  color: var(--color-secondary);
}

.profile-btn h3 .profile-btn:hover,
.hover {
  color: var(--color-secondary);
}
