.form-control {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}

.form-control label {
  font-weight: 600;
  margin-bottom: .3rem;
}

.form-control input,
.form-control textarea {
  border: none;
  box-shadow: inset 0px 2px 2px 1px rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  border-radius: 5px;
  /* color: var(--color-primary); */
  font-size: 1rem;
}

.form-control textarea {
  resize: none;
  height: 150px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: 2px solid var(--color-primary);
}

.form-control textarea::placeholder,
.form-control input::placeholder {
  color: var(--color-gray);
  opacity: 0.8;
}
