@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Mulish:wght@400;700;900&display=swap");

:root {
  --color-primary:#3E8E7E;
  --color-secondary:#7CD1B8;
  --color-tertiary:#fff;
}

body {
  margin: 0;
}
