.footer {
  margin-top: 3rem;
  padding-top: 3rem;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  overflow: hidden;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 6rem;
}

.sitemap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
}

.sitemap li {
  width: fit-content;
  height: fit-content;
}

.sitemap li:hover {
  background-color: var(--color-primary);
}

.sitemap a {
  line-height: 1rem;
  padding: 0;
}

.sitemap a:hover {
  color: var(--color-secondary);
}

.contact-details {
  padding: 0 2rem;
  position: relative;
  z-index: 5;
}

.contact-details h3,
.contact-details p {
  color: var(--color-tertiary);
}

.copy {
  position: relative;
  grid-column: 1 / 3;
  text-align: center;
  margin: 3rem 0 0;
  font-size: 0.8rem;
  color: var(--color-gray-light);
  background-color: var(--color-light-bg);
}

.logo {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 250px;
}

@media (max-width: 768px) {
  .logo {
    visibility: hidden;
  }
}
